@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary-color: #2ecc71;
    --contrast-color: #1D2226;
    --contrast-alt-color:#0D1117;
    --background-color: #000000;
    --background-alt-color:#0b100e;
    --text-color: #fcfaee;
    --debug-color1:green;
    --debug-color2:blue;
    --debug-color3:red;
    --debug-color4:yellow;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply 
    bg-background
    text-foreground;
  }
}
@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% / 3 * 8));
  }
}

.animate-carousel {
  animation: carousel 35s linear infinite;
}
.background {
  background-color: var(--contrast-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}


ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 20px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before,
span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}
span:after {
  right: 2.5px;
  background: #00adb5;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #00adb5;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}


